html {
  display: flex;
}

body {
  display: flex;
  justify-content: space-around;
}

.board {
  display: flex;
  flex-flow: row wrap;
  width: 600px;
  list-style-type: none;
}

.board li {
  border: 2px solid black;
  height: 196px;
  width: 196px;
}