html {
  display: flex;
  width: 100%;
}

body {
  display: flex;
  font-size: 16px;
  height: 100%;
  justify-content: center;
  width: 100%;
}

h1 {
  text-align: center;
}

.board ul {
  display: flex;
  flex: 2 1 auto;
  justify-content: center;
  flex-flow: row wrap;
  list-style-type: none;
  max-width: 500px;
}

#root {
  width: 100%;
}

.game_container {
  display: flex;
  justify-content: center;
}

.container .winner_alert {
  text-align: center;
  width: 100%;
  padding: 1em;
  background-color: hotpink;
}

.container .winner_alert button {
  display: block;
  margin: 1em auto;
  padding: 1em 2em;
  cursor: pointer;
}

.scoreboard {
  flex: 0 1 auto;
}

.board li {
  align-items: center;
  border: 2px solid black;
  display: flex;
  font-size: 4em;
  font-weight: bold;
  height: 160px;
  justify-content: center;
  width: 160px;
}

.board li:hover {
  outline-color: fuchsia;
  cursor: pointer;
}